.feed {
  flex: 5.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}
.feedwrapper {
  padding: 20px;
}
.users {
  font-weight: bold;
  padding-left: 10px;
  display: none;
  cursor: pointer;
  width: fit-content;
  border-bottom: 3px solid gray;
}
@media only screen and (max-width: 480px) {
  .users {
    display: flex;
  }
}
