
.main{
    display: flex;
    justify-content: center;

}
.signup{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    padding: 30px   ;
    border-radius: 20px;
    box-shadow: -1px 0px 39px 11px rgba(88, 86, 86, 0.75);
-webkit-box-shadow: -1px 0px 39px 11px rgba(97, 89, 89, 0.75);
-moz-box-shadow: -1px 0px 39px 11px rgba(87, 80, 80, 0.75);
}
.heading{
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
    color:blue;
}
.forminput{
    width: 400px;
    padding: 8PX;
    border-radius: 12PX;
    background-color:rgb(255, 255, 255);
    color:blue;
    
}
.forminput:hover{
    background-color:blue;
    color:rgb(255, 255, 255);
    
}
.buttton{
    background-color:blue;
    color: rgb(255, 255, 255);
    width: 300px;
    padding: 8PX;
    border-radius: 12PX;
    margin-bottom: 18px;
}
.buttton:hover{
    background-color:rgb(255, 255, 255);
    color:blue;
    
}
.signup-text{
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.signup-text:hover{
    color: rebeccapurple;
}